.tooltip-container {  
    position: relative;  
    display: inline-flex;  
    align-items: center;  
  }  
  
  .tooltip-text {  
    visibility: hidden;  
    width: 300px;  
    background-color: rgb(33, 101, 247);  
    color: #fff;  
    text-align: center;  
    border-radius: 5px;  
    padding: 5px;  
    position: absolute;  
    z-index: 1;  
    top: 135%; /* Position the tooltip below the div */  
    left: 100%;  
    transform: translateX(-50%);  
    opacity: 0;  
    transition: opacity 0.3s;  
  }  
  
  .tooltip-container:hover .tooltip-text {  
    visibility: visible;  
    opacity: 1;  
  }